// COLORS

$primary-color: #131313;
$light-color: #181818;
$white-color: #fff;
$color: #212121;
$logo-color: rgba(171, 37, 37, 0.747);


// BREAKPOINTS

$bp-large: 1680px;
$bp-desktop: 1200px;
$bp-tablet: 992px;
$bp-tab: 768px;
$bp-phone: 576px;